main {
  display: flex;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  width: auto; /*320px*/
  margin-left: auto;
  margin-right: auto;
  padding-left: 8px;
  padding-right: 8px;
  position: relative;
  color: #1d1d1d;
}
/*
@media (min-width: 768px){
	body{
		width: 768px;
	}
}
@media (min-width: 992px){
	body{
		width: 992px;
	}
}
*/

.header-shadowed {
  box-shadow: 0 20px 50px -20px rgba(0, 0, 0, 0.1);
  height: 72px;
  display: flex;
  max-width: auto;
  margin: 0 auto;
  align-items: center;
  justify-content: space-between;
}
.header {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
}

@media (min-width: 1200px) {
  .header {
    margin: 0 133px 0 133px;
  }
}

.row {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  margin-left: -8px;
  margin-right: -8px;
}

.logo {
  height: 100%;
  display: flex;
  align-items: center;
}

.asap,
.asap-mobile {
  background-color: #fff;
  height: 40px;
  width: 66px;
  padding: 7px 7px;
  border: 1px solid #e0e0e0;
  border-radius: 2px;
  font-size: 13px;
  align-content: center;
}
.to {
  font-size: 16px;
  margin-left: 16px;
  margin-right: 16px;
}

.location,
.location-mobile {
  height: 26px;
  padding-left: 32px;
  padding-right: 32px;
  padding-top: 6px;
  padding-bottom: 6px;
  border: 1px solid #e0e0e0;
  border-radius: 2px;
  color: #000;
  background-image: url("./img/location.svg");
  background-repeat: no-repeat;
  background-position: 8px;
}
.location-div {
  display: none;
}
@media (min-width: 576px) {
  .location-div {
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
.location-div-mobile {
  display: flex;
  justify-content: center;
  width: auto;
  margin: 15px 0 15px 0;
}
@media (min-width: 576px) {
  .location-div-mobile {
    display: none;
  }
}
.to-mobile-col {
  margin-left: 8px;
}
.when-mobile-col,
.to-mobile-col {
  display: inline-grid;
}
.location-mobile {
  width: 100%;
  max-width: 180px;
  font-size: 13px;
  padding-right: 0px;
}
.signin,
.register {
  cursor: pointer;
  background-color: #fff;
  height: 40px;
  width: 80px;
  padding: 7px 14px;
  margin-right: 16px;
  align-items: center;
  border: 1px solid #e0e0e0;
  border-radius: 2px;
  font-size: 13px;
}
.register {
  border: 1px solid #979797;
  background-color: #262626;
  color: #fff;
}

.sign {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.basket {
  display: none;
  margin: 0 15px 0 0;
}
@media (min-width: 576px) {
  .basket {
    display: block;
    margin: 0 15px 0 15px;
  }
}
.search-div {
  margin-top: 24px;
  width: 100%;
}
.search {
  font-size: 16px;
  box-sizing: border-box;
  padding: 16px 16px 16px 48px;
  width: 100%;
  background-image: url("./img/search.svg");
  background-repeat: no-repeat;
  background-position: 16px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid #979797;
}

.when-mobile,
.to-mobile {
  color: #626262;
  margin-bottom: 8px;
  font-size: 11px;
}

@media (min-width: 1200px) {
  .main-section {
    margin: 0 133px 0 133px;
  }
}

.section-title {
  color: #1d1d1d;
  font-size: 22px;
  line-height: 34px;
  margin-top: 48px;
}
.card {
  cursor: pointer;
  margin-bottom: 24px;
}
.card-img {
  width: 100%;
}
.card-title,
.card-type,
.card-time {
  margin-top: 8px;
}
.card-title {
  color: #1d1d1d;
  font-size: 16px;
}
.card-type {
  color: #626262;
  font-size: 14px;
}
.card-time {
  color: #1d1d1d;
  font-size: 13px;
}

.footer-logo {
  margin: 0 0 32px 0;
}

.footer-div {
  color: #ffffff;
  font-family: Roboto, Helvetica, Arial, sans-serif;
  margin: auto;
  align-items: center;
  width: auto;
  background-color: #262626;
  padding: 54px 31px 54px 31px;
}
@media (min-width: 1200px) {
  .footer-div {
    padding: 54px 133px 54px 133px;
  }
}

#menu-row {
  display: inline-grid;
  width: 100%;
  margin: 16px 0 16px 0;
  padding: 32px 0 32px 0;
  border-top: 1px solid #979797;
  border-bottom: 1px solid #979797;
}

@media (min-width: 576px) {
  #menu-row {
    display: flex;
  }
}

.language {
  width: 178px;
  border: 0px;
  border-radius: 2px;
  background-color: #3b3b3b;
  padding: 7px 18px 7px 32px;
  color: #ffffff;
  font-size: 13px;
  background-image: url("./img/world.svg");
  background-position: 16px;
  background-repeat: no-repeat;
  appearance: none;
}
.soÑial > a {
  text-decoration: none;
}
.menu-about > a,
.menu-help > a {
  margin-bottom: 24px;
  display: block;
  text-decoration: none;
  color: #ffffff;
  font-size: 13px;
}
.stores {
  padding: 24px 0 40px 0;
  margin: 0px 0 24px 0;
  display: flex;
  width: 100%;
  justify-content: center;
  border-bottom: 1px solid #979797;
}
.market,
.store {
  cursor: pointer;
  margin: 0 16px 0 16px;
}

.copyright {
  margin: 16px 0 16px 0;
  width: 100%;
  display: inline-grid;
  justify-content: space-between;
  align-items: center;
}
.copyright > * {
  text-decoration: none;
  color: #ffffff;
  font-size: 13px;
  margin-top: 16px;
}
@media (min-width: 576px) {
  .copyright {
    display: flex;
  }
}

.up {
  cursor: pointer;
  width: 80px;
  height: 80px;
  background-color: #59bd5a;
  position: absolute;
  bottom: 24px;
  right: -10px;
}
@media (min-width: 1200px) {
  .up {
    bottom: 24px;
    right: -70px;
  }
}

@media (min-width: 576px) {
  .col-xs-1,
  .col-xs-2,
  .col-xs-3,
  .col-xs-4,
  .col-xs-5,
  .col-xs-6,
  .col-xs-7,
  .col-xs-8,
  .col-xs-9,
  .col-xs-10,
  .col-xs-11,
  .col-xs-12 {
    padding-left: 8px;
    padding-right: 8px;
    box-sizing: border-box;
  }

  .col-xs-1 {
    flex-basis: 8.3333%;
  }
  .col-xs-2 {
    flex-basis: 16.6666%;
  }
  .col-xs-3 {
    flex-basis: 24.9999%;
  }
  .col-xs-4 {
    flex-basis: 33.3333%;
  }
  .col-xs-5 {
    flex-basis: 41.6666%;
  }
  .col-xs-6 {
    flex-basis: 50%;
  }
  .col-xs-7 {
    flex-basis: 58.3333%;
  }
  .col-xs-8 {
    flex-basis: 66.6666%;
  }
  .col-xs-9 {
    flex-basis: 74.9999%;
  }
  .col-xs-10 {
    flex-basis: 83.3333%;
  }
  .col-xs-11 {
    flex-basis: 91.6666%;
  }
  .col-xs-12 {
    flex-basis: 100%;
  }
}

@media (min-width: 768px) {
  .col-md-1,
  .col-md-2,
  .col-md-3,
  .col-md-4,
  .col-md-5,
  .col-md-6,
  .col-md-7,
  .col-md-8,
  .col-md-9,
  .col-md-10,
  .col-md-11,
  .col-md-12 {
    padding-left: 8px;
    padding-right: 8px;
    box-sizing: border-box;
  }

  .col-md-1 {
    flex-basis: 8.3333%;
  }
  .col-md-2 {
    flex-basis: 16.6666%;
  }
  .col-md-3 {
    flex-basis: 24.9999%;
  }
  .col-md-4 {
    flex-basis: 33.3333%;
  }
  .col-md-5 {
    flex-basis: 41.6666%;
  }
  .col-md-6 {
    flex-basis: 50%;
  }
  .col-md-7 {
    flex-basis: 58.3333%;
  }
  .col-md-8 {
    flex-basis: 66.6666%;
  }
  .col-md-9 {
    flex-basis: 74.9999%;
  }
  .col-md-10 {
    flex-basis: 83.3333%;
  }
  .col-md-11 {
    flex-basis: 91.6666%;
  }
  .col-md-12 {
    flex-basis: 100%;
  }
}

@media (min-width: 992px) {
  .col-lg-1,
  .col-lg-2,
  .col-lg-3,
  .col-lg-4,
  .col-lg-5,
  .col-lg-6,
  .col-lg-7,
  .col-lg-8,
  .col-lg-9,
  .col-lg-10,
  .col-lg-11,
  .col-lg-12 {
    padding-left: 8px;
    padding-right: 8px;
    box-sizing: border-box;
  }

  .col-lg-1 {
    flex-basis: 8.3333%;
  }
  .col-lg-2 {
    flex-basis: 16.6666%;
  }
  .col-lg-3 {
    flex-basis: 24.9999%;
  }
  .col-lg-4 {
    flex-basis: 33.3333%;
  }
  .col-lg-5 {
    flex-basis: 41.6666%;
  }
  .col-lg-6 {
    flex-basis: 50%;
  }
  .col-lg-7 {
    flex-basis: 58.3333%;
  }
  .col-lg-8 {
    flex-basis: 66.6666%;
  }
  .col-lg-9 {
    flex-basis: 74.9999%;
  }
  .col-lg-10 {
    flex-basis: 83.3333%;
  }
  .col-lg-11 {
    flex-basis: 91.6666%;
  }
  .col-lg-12 {
    flex-basis: 100%;
  }
}
